<%-include ('../../partials/header.ejs')%>

<%-include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach((article)=>{ %>

                <td><%=article.id%></td>
                <td><%=article.title%></td>
                <td><%=article.slug%></td>
                <td><%=article.category.title%></td>
                <td>Ações</td>
                
                
            <% }) %>
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(event, form){
        event.preventDefault()
        var decision = confirm("Deseja mesmo deletar esta categoria?")
        if(decision){
            form.submit()
        }
    }
</script>

<%-include ('../../partials/footer.ejs')%>