<%- include ('../../partials/header.ejs') %>

<%-include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <form method="post" action="/articles/save" >
            <div class="card-header">
                <h2>Cadastro de Artigo</h2>
            </div>
            <div class="card-body">
                <hr>
                <input class = "form-control" type="text" name="title" placeholder="Defina o título do Artigo">   
                <br>
                <textarea id = "article" class="form-control" placeholder="Escreva seu artigo aqui" name="body"></textarea><br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%=category.id%>"><%=category.title%></option>
                    <% }) %>
                </select><br>
                <button class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>


<%- include ('../../partials/header.ejs') %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount insertdatetime media save table paste emoticons'
        ]
    })

</script>