<%-include ('partials/header.ejs')%>

<%-include ('partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo ao meu blog</h1>
            <p class="lead">Aqui você encontrará diversos artigos em várias categorias</p>
            <hr class="my-4">
            
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
            </p>
        </div>
        <% articles.forEach((article)=>{ %>
            
            <div class="card">
                <div class="card-header">
                    <h2><%=article.title%></h2>
                </div>
                <div class="card-body">
                    <a href = "/<%=article.slug%>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <% }) %>
    </div>

</body>

<%-include ('partials/footer.ejs')%>